name: anyprice
description: 다계산해줄지니어스 - 가격 계산 앱
publish_to: 'none'
version: 1.0.0+1

environment:
  sdk: '>=3.0.0 <4.0.0'

dependencies:
  flutter:
    sdk: flutter
  cupertino_icons: ^1.0.8
  mobile_scanner: ^5.2.3
  csv: ^5.1.1
  path_provider: ^2.1.4
  share_plus: ^7.2.2
  shared_preferences: ^2.5.3
  intl: ^0.20.2  # ← 이 줄 추가

dev_dependencies:
  flutter_test:
    sdk: flutter
  flutter_lints: ^2.0.0

flutter:
  uses-material-design: true
  assets:
    - assets/products.csv